<div class="row animated fadeIn">
   <div class="col-md-6">
      <div class="card card-body">
         <h3 class="box-title m-b-0">Médico: <span *ngIf="medico">{{ medico.nombre }}</span></h3>
         <div class="row">
            <div class="col-sm-12 col-xs-12">
               <div class="clearfix"></div>
               <br>
               <form #f="ngForm" ngNativeValidator (ngSubmit)="guardarMedico(f)">
                  <div class="form-group">
                     <label>Nombre:</label>
                     <input [(ngModel)]="medico.nombre" name="nombre" type="text" class="form-control"
                        placeholder="Nombre del Médico">
                  </div>
                  <div class="form-group">
                     <label>Hospital:</label>
                     <select (change)="cambioHospital($event.target.value)" [(ngModel)]="medico.hospital"
                        name="hospital" class="form-control" required>
                        <option value="">Seleccione el hospital</option>
                        <option *ngFor="let hospital of hospitales" [value]="hospital._id">
                           {{ hospital.nombre }}
                        </option>
                     </select>
                  </div>
                  <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                     <i class="fa fa-save"></i>
                     Guardar
                  </button>
                  <a routerLink="/medicos" type="button" class="btn btn-inverse waves-effect waves-light">Cancelar</a>
               </form>
            </div>
         </div>
      </div>
   </div>

   <div class="col-md-3">
      <div class="card card-body">
         <h4 class="box-title m-b-0">Hospital</h4>

         <img [src]="hospital.img | imagen:'hospitales'" alt="" class="rounded img-fluid">
      </div>
   </div>
   <div class="col-md-3 animated fadeIn" *ngIf="medico._id">
      <div class="card card-body">
         <h4 class="box-title m-b-0">Fotografía del médico</h4>

         <img [src]="medico.img | imagen:'medicos'" alt="" class="rounded img-fluid pointer" (click)="cambiarFoto()">
      </div>
   </div>
</div>
